
/*MARGINS*/
.m-auto {
	margin: 0 auto;
}

.m0{
	margin: 0px;
}

.m2 {
	margin: 2px;
}

.m4 {
	margin: 4px;
}

.m8 {
	margin: 8px;
}

.m16 {
	margin: 16px;
}

.m32 {
	margin: 32px;
}

.m48 {
	margin: 48px;
}

/*TOP MARGINS*/
.mt2 {
	margin-top: 2px;
}

.mt4 {
	margin-top: 4px;
}

.mt8 {
	margin-top: 8px;
}

.mt16 {
	margin-top: 16px;
}

.mt32 {
	margin-top: 32px;
}

.mt48 {
	margin-top: 48px;
}


/*TOP BOTTOM MARGINS */
.mtb0 {
	margin: 0px 0px;
} 

.mtb2 {
	margin: 2px 2px;
}

.mtb4 {
	margin: 4px 4px;
}

.mtb8 {
	margin: 8px 8px;
}

.mtb16 {
	margin: 16px 16px;
}

.mtb32 {
	margin: 32px 32px;
}


/*PADDINGS*/

.p2 {
	padding: 2px;
}

.p4 {
	padding: 4px;
}

.p8 {
	padding: 8px;
}

.p16 {
	padding: 16px;
}

.p32 {
	padding: 32px;
}

.p48 {
	padding: 48px;
}

/*TOP PADDINGS*/

.pt2 {
	padding-top: 2px;
}

.pt4 {
	padding-top: 4px;
}

.pt8 {
	padding-top: 8px;
}

.pt16 {
	padding-top: 16px;
}

.pt32 {
	padding-top: 32px;
}

.pt48 {
	padding-top: 48px;
}

/*WIDTHS*/
.w10{
	width: 10%;
}

.w20{
	width: 20%;
}

.w30{
	width: 30%;
}

.w40{
	width: 40%;
}

.w50{
	width: 50%;
}

.w60{
	width: 60%;
}

.w70{
	width: 70%;
}

.w80{
	width: 80%;
}

.w90{
	width: 90%;
}

.w100{
	width: 100%;
}

/*COLORS*/
.color-red {
	color: red;
}

.color-green {
	color: green;
}


/*FLOATS*/
.float-right {
	float: right;
}

.float-left {
	float: left;
}

.ace_editor { height: 250px; }

/* Floating right button set */
.fixed_button_group {
    position: fixed;
    right: 0px;
    z-index: 9999;
}

.validation-text {
	color: red;
}

.form-control.ng-dirty.ng-invalid{
	border: 1px solid red;
}

.question-bottom-border {
	border-bottom: 1px solid rgb(63,81,181);
    box-shadow: 0px 0px 2px 0px;
}

.mcq-md-card {
	width: 300px;
}

.cross-button-position {
	position: absolute;
	top:0px;
	right:0px;
}

.incorrect-answer {
	border-bottom: 2px solid red;
}

.correct-answer {
	border-bottom: 2px solid green;
}